body{
    font-family: Roboto, sans-serif;
    background-color: #2D3E50;
}

mat-card{
    padding: 10px;
    background-color: #c4dded;
}

.button-container {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    align-items: center;
}

.file-name {
    font-size: 14px;
    color: #312e2e;
    font-weight: 500;
}

.content-container {
    margin-top: 30px;
}