<mat-card>
  <mat-card-title>Distribución Binominal</mat-card-title>
<br>
  <mat-card-content class="form">
    <mat-form-field appearance="outline">
      <mat-label>N (población)</mat-label>
      <input matInput type="number" [(ngModel)]="N">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>n (muestra)</mat-label>
      <input matInput type="number" [(ngModel)]="n">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>p (0 - 1)</mat-label>
      <input matInput type="number" step="0.10" [(ngModel)]="p">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="calcular()">
      Calcular
    </button>
  </mat-card-content>
</mat-card>
<br>

<mat-card>
  <mat-card-title>Estadísticos</mat-card-title>
  <p>
    <strong>Tipo de población:</strong>
    {{ poblacionInfinita ? 'Infinita' : 'Finita' }}
  </p>
  <p><strong>Media (μ): </strong> {{ media | number:'1.2-2' }}</p>
  <p><strong>Desviación estándar (σ):</strong></p>
  <ul>
    <li><strong>Desviación infinita: </strong> {{ desviacion | number:'1.4-4' }}</li>
    <li *ngIf="!poblacionInfinita"><strong>Desviación finita (σ corregida):</strong> {{ desviacionFinita | number:'1.4-4' }}</li>
  </ul>

  <p *ngIf="!poblacionInfinita">
    <strong>Factor de Corrección:</strong> {{ factorCorreccion | number:'1.4-4' }}
  </p>

  <p>
    <strong>Sesgo: </strong> {{ sesgo | number:'1.4-4' }}<br>
    <strong>{{ interpretacionSesgo }}</strong> 
  </p>

  <p>
    <strong>Curtosis: </strong> {{ curtosis | number:'1.4-4' }}<br>
    <strong>{{ interpretacionCurtosis }}</strong> 
  </p>
</mat-card>
<br>
<mat-card>
  <mat-card-title>Resultados</mat-card-title>
  <br>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

    <ng-container matColumnDef="k">
      <th mat-header-cell *matHeaderCellDef>n</th>
      <td mat-cell *matCellDef="let e">{{ e.k }}</td>
    </ng-container>

    <ng-container matColumnDef="binominal">
      <th mat-header-cell *matHeaderCellDef>P(x)</th>
      <td mat-cell *matCellDef="let e">
        {{ e.binominal | number:'1.6-6' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="acumulada">
      <th mat-header-cell *matHeaderCellDef>P(x) Acumulada</th>
      <td mat-cell *matCellDef="let e">
        {{ e.acumulada | number:'1.6-6' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="porcentaje">
      <th mat-header-cell *matHeaderCellDef>p%</th>
      <td mat-cell *matCellDef="let e">
        {{ e.porcentaje | number:'1.6-6' }}%
      </td>
    </ng-container>

    <ng-container matColumnDef="porcentajeAcumulado">
      <th mat-header-cell *matHeaderCellDef>p% Acumulada</th>
      <td mat-cell *matCellDef="let e">
        {{ e.porcentajeAcumulado | number:'1.6-6' }}%
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <br>
</mat-card>
<br>
<br>
<mat-card *ngIf="dataSource.length">
  <mat-card-title>Gráfica p%</mat-card-title>
  <canvas
  baseChart
  [data]="barChartData"
  [options]="barChartOptions"
  type="bar">
</canvas>
</mat-card>

<br>

<mat-card *ngIf="dataSource.length">
  <mat-card-title>Gráfica p% acumulada</mat-card-title>
  <canvas
  baseChart
  [data]="lineChartData"
  [options]="lineChartOptions"
  type="line">
</canvas>
</mat-card>
<br>
<br>